* {
  padding: 0;
  margin: 0;
}

checkmate2001 {
  display: flex;
  flex-flow: row nowrap;
  gap: 0.2em;
}

checkmate2001 > section {
  flex: 1 auto;
  border: 1px solid black;
  padding: 0.2em;
}

section.four {
  display: flex;
  flex-flow: column;
}


section.four .poss-wrap {
  flex: 1;
  overflow-y: scroll;
  max-height: 300px;
}

section.four .poss-wrap > ul {
  background: #cacacc;
}

section.four .poss-wrap > ul > li {
  list-style: none;
  max-width: 100%;
  word-wrap: break-word;
  cursor: pointer;
  user-select: none;
  transition: background 0.1s;
}

section.four .poss-wrap > ul > li:nth-child(even) {
  background: #cac;
}

section.four .poss-wrap > ul > li:hover {
  background: #ffffcc;
}

section.four .poss-wrap > ul > li:active {
  background: #ffcccc;
}

section.four .poss-wrap > ul > li.selected {
  background: #aaffcc;
}


::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background: #888;
}



li.pz {
  display: flex;
}

li.pz > ul {
  list-style: none;
  font-size: 0.7em;
}