* {
  padding: 0;
  margin: 0;
}

button.red {
  background: red;
  color: white;
}

.v-wrap {
  overflow-y: scroll;
  height: 200px;
}

.v-wrap > ul {
  list-style: none;
  background: #cacacc;
}


.v-wrap > ul > li {
  max-width: 100%;
  word-wrap: break-word;
  transition: background 0.1s;
}

.v-wrap > ul > li:nth-child(even) {
  background: silver;
}

.v-wrap > ul > li:hover {
  background: #ffffcc;
}

.v-wrap > ul > li:active {
  background: lightseagreen;
}

.v-wrap > ul > li.selected {
  background: gold;
}


::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: #888;
}



checkmate2001 {
  display: flex;
  flex-flow: row nowrap;
  gap: 0.2em;
}

checkmate2001 > section {
  flex: 1;
  border: 1px solid black;
  padding: 0.2em;
}

section.four {
  flex: 0 0 300px;
}

section.two {
  padding: 1em;
}

section2 > .b-wrap {
  display: flex;
}

section.four {
  display: flex;
  flex-flow: column;
}


section.four .v-wrap {
  flex: 1;
}


li.pz {
  display: flex;
  height: 100px;
  border: 1px solid darkblue;
  user-select: none;
  cursor: pointer;
}

li.pz {
  padding: 0.4em;
  display: flex;
  gap: 1em;
  max-width: 100%;
}

li.pz > span {
  font-size: 0.7em;
  max-width: 100px;
}

section3 {
  display: flex;
  flex-flow: column;
  gap: 1em;
}

section3 textarea {
  font-size: 2em;
  overflow: hidden;
  resize: none;
  align-self: center;
}

section3 .v-wrap > ul {
  list-style: none;
  background: #cacaca;
}


li.pttrn {
  padding: 0.24em;
  display: flex;
  gap: 0.4em;
  border: 1px solid black;
  user-select: none;
  cursor: pointer;
}

li.pttrn > span {
  display: flex;
  justify-content: flex-start;
  flex: 1;
  align-self: center;
}

li.pttrn > button {
  padding: 0.3em 0.6em;
}

li.pttrn > button.red {
  background: red;
  color: white;
}


notify {
  position: fixed;
  bottom: 0px;
  right: 0px;
  background: yellow;
  border: 1px solid lime;
  padding: 0.8em;
  margin: 1em;
}